mixin input(type, label, blockClass, name, error)
    div.input(class=blockClass)
        input(
            type=type
            class=`input__field`
            id=name
            name=name
            placeholder=label
        )
        label(
            class=`input__label`
            for=name
        )= label
        span(
            class=`input__error`
        )= error
