each item in users
  li.cards__item(tabindex=item.id id=item.id)
    div.cards__img
    .cards__main
      .cards__header
        span.cards__name=item.name
        span.cards__time=item.time
      .cards__body
        p.cards__message=item.message
        .cards__counter=item.counter

