input(id=search placeholder='Поиск' class=`${className}__field search-input__field`)
div(class=`${className}__icon search-input__icon`)
label(for=search class=`${className}__label search-input__label`) Поиск


